/*  Navigation */
.navigation {
	@apply py-4 fixed top-0 left-0 z-10 w-full flex justify-center bg-white dark:text-white dark:bg-gradient-to-r dark:from-dark-primary-left dark:to-dark-primary-right transition-all duration-300;

	&.hidden {
		@apply -translate-y-[100%];
	}
}

.navigation-list {
	@apply py-1 no-scrollbar relative flex max-w-[1024px] h-full overflow-x-scroll snap-mandatory snap-x scroll-pl-4 first:pl-6;
	mask-repeat: no-repeat;
	mask-image: var(--mask-gradient);
	-webkit-mask-image: var(--mask-gradient);
	-webkit-mask-repeat: no-repeat;
}

/* .navigation-list::before {
	content: "";
	@apply absolute top-0 left-0 w-6 h-14 bg-gradient-to-r from-white to-transparent dark:bg-gradient-to-r dark:from-dark-primary-left dark:to-transparent;
}

.navigation-list::after {
	content: "";
	@apply absolute top-0 right-0 w-6 h-14 bg-gradient-to-l from-white to-transparent dark:bg-gradient-to-r dark:from-transparent dark:to-dark-primary-right;
} */

.navigation-list__item {
	@apply cursor-pointer select-none text-nowrap snap-start mr-3 md:last:pr-2;
}

.navigation-list__select-line {
	@apply bg-black dark:bg-white;
}

.navigation-list__btns {
	@apply flex md:gap-2 md:ml-4 ml-0 md:px-4 px-1 border-l border-black dark:border-white;
}
