@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--mask-gradient: linear-gradient(
		to right,
		transparent 0%,
		black 3.85%,
		black 95.92%,
		transparent 100%
	);
	--bg-color: white;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: linear-gradient(to right, #00281c, #007473);
	}
}

html {
	background: var(--bg-color);
}

body {
	background: transparent;
	margin: 0;
	padding: 0;
}

@layer base {
	hr {
		@apply w-full h-1 my-2 bg-black rounded dark:bg-white;
	}

	button {
		@apply outline-none;
	}
}

@layer utilities {
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}

@layer components {
	/*  Burger  */

	.burger {
		@apply block md:hidden;
	}
}
